<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Efecto Invernadero</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Efecto Invernadero</h1>
        </header>
        <nav>
            <ul>
                <li><a href="#introduccion">Introduccion</a></li>
                <li><a href="#causas">Causas</a></li>
                <li><a href="#soluciones">Soluciones</a></li>
            </ul>
        </nav>
        <img src="https://statics.eleconomista.com.ar/2021/10/6172ce888ab6c.jpg" alt="catastrofe">
        <!-- 
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡔⣻⠁⠀⢀⣀⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⢀⣾⠳⢶⣦⠤⣀⠀⠀⠀⠀⠀⠀⠀⣾⢀⡇⡴⠋⣀⠴⣊⣩⣤⠶⠞⢹⣄⠀⠀⠀
⠀⠀⠀⠀⢸⠀⠀⢠⠈⠙⠢⣙⠲⢤⠤⠤⠀⠒⠳⡄⣿⢀⠾⠓⢋⠅⠛⠉⠉⠝⠀⠼⠀⠀⠀
⠀⠀⠀⠀⢸⠀⢰⡀⠁⠀⠀⠈⠑⠦⡀⠀⠀⠀⠀⠈⠺⢿⣂⠀⠉⠐⠲⡤⣄⢉⠝⢸⠀⠀⠀
⠀⠀⠀⠀⢸⠀⢀⡹⠆⠀⠀⠀⠀⡠⠃⠀⠀⠀⠀⠀⠀⠀⠉⠙⠲⣄⠀⠀⠙⣷⡄⢸⠀⠀⠀
⠀⠀⠀⠀⢸⡀⠙⠂⢠⠀⠀⡠⠊⠀⠀⠀⠀⢠⠀⠀⠀⠀⠘⠄⠀⠀⠑⢦⣔⠀⢡⡸⠀⠀⠀
⠀⠀⠀⠀⢀⣧⠀⢀⡧⣴⠯⡀⠀⠀⠀⠀⠀⡎⠀⠀⠀⠀⠀⢸⡠⠔⠈⠁⠙⡗⡤⣷⡀⠀⠀
⠀⠀⠀⠀⡜⠈⠚⠁⣬⠓⠒⢼⠅⠀⠀⠀⣠⡇⠀⠀⠀⠀⠀⠀⣧⠀⠀⠀⡀⢹⠀⠸⡄⠀⠀
⠀⠀⠀⡸⠀⠀⠀⠘⢸⢀⠐⢃⠀⠀⠀⡰⠋⡇⠀⠀⠀⢠⠀⠀⡿⣆⠀⠀⣧⡈⡇⠆⢻⠀⠀
⠀⠀⢰⠃⠀⠀⢀⡇⠼⠉⠀⢸⡤⠤⣶⡖⠒⠺⢄⡀⢀⠎⡆⣸⣥⠬⠧⢴⣿⠉⠁⠸⡀⣇⠀
⠀⠀⠇⠀⠀⠀⢸⠀⠀⠀⣰⠋⠀⢸⣿⣿⠀⠀⠀⠙⢧⡴⢹⣿⣿⠀⠀⠀⠈⣆⠀⠀⢧⢹⡄
⠀⣸⠀⢠⠀⠀⢸⡀⠀⠀⢻⡀⠀⢸⣿⣿⠀⠀⠀⠀⡼⣇⢸⣿⣿⠀⠀⠀⢀⠏⠀⠀⢸⠀⠇
⠀⠓⠈⢃⠀⠀⠀⡇⠀⠀⠀⣗⠦⣀⣿⡇⠀⣀⠤⠊⠀⠈⠺⢿⣃⣀⠤⠔⢸⠀⠀⠀⣼⠑⢼
⠀⠀⠀⢸⡀⣀⣾⣷⡀⠀⢸⣯⣦⡀⠀⠀⠀⢇⣀⣀⠐⠦⣀⠘⠀⠀⢀⣰⣿⣄⠀⠀⡟⠀⠀
⠀⠀⠀⠀⠛⠁⣿⣿⣧⠀⣿⣿⣿⣿⣦⣀⠀⠀⠀⠀⠀⠀⠀⣀⣠⣴⣿⣿⡿⠈⠢⣼⡇⠀⠀
⠀⠀⠀⠀⠀⠀⠈⠁⠈⠻⠈⢻⡿⠉⣿⠿⠛⡇⠒⠒⢲⠺⢿⣿⣿⠉⠻⡿⠁⠀⠀⠈⠁⠀⠀
⢀⠤⠒⠦⡀⠀⠀⠀⠀⠀⠀⠀⢀⠞⠉⠆⠀⠀⠉⠉⠉⠀⠀⡝⣍⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⡎⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⡰⠋⠀⠀⢸⠀⠀⠀⠀⠀⠀⠀⢡⠈⢦⠀⠀⠀⠀⠀⠀⠀⠀⠀
⡇⠀⠀⠸⠁⠀⠀⠀⠀⢀⠜⠁⠀⠀⠀⡸⠀⠀⠀⠀⠀⠀⠀⠘⡄⠈⢳⡀⠀⠀⠀⠀⠀⠀⠀
⡇⠀⠀⢠⠀⠀⠀⠀⠠⣯⣀⠀⠀⠀⡰⡇⠀⠀⠀⠀⠀⠀⠀⠀⢣⠀⢀⡦⠤⢄⡀⠀⠀⠀⠀
⢱⡀⠀⠈⠳⢤⣠⠖⠋⠛⠛⢷⣄⢠⣷⠁⠀⠀⠀⠀⠀⠀⠀⠀⠘⡾⢳⠃⠀⠀⠘⢇⠀⠀⠀
⠀⠙⢦⡀⠀⢠⠁⠀⠀⠀⠀⠀⠙⣿⣏⣀⠀⠀⠀⠀⠀⠀⠀⣀⣴⣧⡃⠀⠀⠀⠀⣸⠀⠀⠀
⠀⠀⠀⠈⠉⢺⣄⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣗⣤⣀⣠⡾⠃⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠣⢅⡤⣀⣀⣠⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⠉⠉⠉⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠉⠉⠉⠁⠀⠉⣿⣿⣿⣿⣿⡿⠻⣿⣿⣿⣿⠛⠉⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⣿⣿⣿⠀⠀⠀⠀⣿⣿⣿⡿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣴⣿⣿⣿⣟⠀⠀⢠⣿⣿⣿⣿⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣿⣿⣿⣿⣿⠀⠀⢸⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣿⣿⡏⠀⠀⢸⣿⣿⣿⣿⣿⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⣿⣿⣿⣿⠀⠀⠀⢺⣿⣿⣿⣿⣿⣿⣷⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠈⠉⠻⣿⣿⣿⠟⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⢿⣿⣿⣿⠏ hecho por remier
        --> 
        <main>
            <section id="introduccion">
                <h2>Que es el efecto invernadero</h2>
                <p>  La radiación solar llega a la superficie terrestre y algunos gases que se en- cuentran naturalmente en la atmósfera, como el dióxido de carbono, el metano, el óxido nitroso y el ozono, retienen parte de esa energía y no permiten que se vaya de la troposfera. Crean así en esta capa de la atmósfera como un invernáculo natural que permite que tengamos en la superficie una temperatura adecuada para habitarla. A este proceso se lo conoce como efecto invernadero natural.</p>
                <p>  Es por eso que se llama efecto "invernadero" ya que actua como un invernadero(casa de cristal) que protejen a las plantas del frio o calor con una temperatura adecuadad para ellas</p>
                <h2>¿por que ahora es malo?</h2>
                <p>En la actualidad esto ya no ocurre debido al desequilibrio originado por las acciones humanas como la actividad intensiva de la industria, el transporte y el desarrollo de una amplia gama de fuentes contaminantes, cuyas emisiones aumentaron la cantidad de gases de efecto invernadero en la atmósfera. Estos gases contribuyen a que la energía solar quede atrapada entre la superficie del planeta y las capas de la atmósfera, lo que produce un aumento de la temperatura cada vez mayor, provocando lo que se denomina calentamiento global.</p>
            </section>
            <section id="causas">
                <h2>Causas y consecuencias</h2>
                <p>Las principales causas del efecto invernadero son:</p>
                <img src="https://elordenmundial.com/wp-content/uploads/2019/06/Mundo-Pol%C3%ADtica-Desarrollo-Medio-Ambiente-Emisiones-de-CO2-per-c%C3%A1pita-1310x928.png" alt="paises">
                <img src="/images/WhatsApp Image 2023-08-13 at 11.23.54 PM.jpeg" alt="esquema">
            </section>
            <section>
                <iframe src="https://www.youtube.com/embed/D7azpbtGA4Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <h2>CAMBIO CLIMÁTICO EN ARGENTINA</h2>
                <p>En la Tercera Comunicación Nacional sobre Cambio Climático (TCN) (SAyDS, 2015),
                    se exponen los cambios observados en las variables climáticas en la Argentina en el
                    período 1960-2010, así como las proyecciones climáticas para el país para dos escenarios de futuras concentraciones de GEI (RCP4.5: emisiones medias y RCP8.5: emisiones
                    altas) y para dos horizontes temporales (periodo 2015-2039 y período 2075-2099). Este
                    informe fue realizado con la colaboración del Centro de Investigaciones del Mar y la
                    Atmósfera (CIMA), dependiente de la Universidad de Buenos Aires. Dichas proyecciones climáticas fueron volcadas en el Sistema de Mapas de Riesgo del Cambio Climático
                    (SIMARCC), una herramienta interactiva que permite identificar los riesgos derivados
                    del cambio climático y los traduce de una forma fácil para que tomadores de decisiones
                    puedan desarrollar políticas públicas y acciones de adaptación al cambio climático
                    (simmarc.ambiente.gob.ar).
                </p>
                <p>A partir de esta información, a continuación, se describe brevemente los cambios
                    más relevantes observados en las variables climáticas en la Argentina en el período
                    1960-2010, así como las proyecciones de cambio climático.
                </p>
                <p>Se resumen los principales impactos y riesgos derivados del cambio climático en
                    nuestro país, en función de nuestras diferentes regiones.
                </p>
                <p> 
                    <ul>
                        <li>
                            <h3>En la Patagonia:</h3>
                            <a>los efectos del calentamiento global se observan en el aumento de la aridez, la desertificación, la degradación del suelo y los riesgos de incendios.</a>
                        </li>
                        <li>
                            <h3>En el Noroeste:</h3>
                            <a>el modelo actual de producción contribuye al aumento de temperaturas, escasez de agua y sequías más intensas que afectan a los ecosistemas y a las comunidades.</a>
                        </li>
                        <li>
                            <h3>En el Cuyo:</h3>
                            <a>las intensas sequías y las olas de calor extremas, producto del cambio climático, afectan los sistemas productivos, la generación de energía hidroeléctrica y la disponibilidad de agua que depende de los deshielos.</a>
                        </li>
                        <li>
                            <h3>En el Litoral:</h3>
                            <a>el mal uso del suelo afecta a los humedales de manera drástica y profundiza inundaciones y sequías.</a>
                        </li>
                        <li>
                            <h3>En el Centro:</h3>
                            <a> es una de las zonas más afectadas por el aumento de las precipitaciones debido al calentamiento global, Sufre sequías más prolongadas, inundaciones más frecuentes y olas de calor extremas.</a>
                        </li>
                    </ul>
                </p>
                <p> Los impactos que hoy sufre el planeta obligan a tomar medidas inmediatas. Los
                    científicos dejan claro que será necesario un gran cambio institucional y tecnológico
                    para que el calentamiento global no supere los 2 ºC promedio sobre la superficie del
                    planeta y para que exista una mayor probabilidad de evitar la ocurrencia de daños
                    catastróficos e irreversibles.
                </p>
                <h2>IMPACTO DEL CAMBIO CLIMÁTICO EN JUJUY</h2>
                <p>Según el informe “Cambio Climático en Argentina”, la región NOA ha sido afectada
                    por un incremento de la temperatura media que es mayormente explicada por el incremento de la temperatura mínima. En términos estacionales, los cambios han sido más
                    marcados en primavera y verano y en general no han sido significativos en invierno.
                    En tal sentido, la Región NOA NORTE es una de las más afectadas por el aumento
                    de la temperatura. Entre otros impactos, pueden mencionarse:
                    <ul>
                        <li>
                            <h3>Temperatura media:</h3>
                            <p>el aumento alcanzó los 0,7° en la provincia de Jujuy.</p>
                        </li>
                        <li>
                            <h3>Temperatura mínima:</h3>
                            <p>aumento promedio de 0,6°C.</p>
                        </li>
                        <li>
                            <h3>Temperatura máxima:</h3>
                            <p>aumentó 0,7°C.</p>
                        </li>
                        <li>
                            <p>1950-2010 mayores incrementos registrados en primavera/ otoño.</p>
                        </li>
                    </ul>
</p>
                <h2>Datos curiosos</h2>
                <img src="https://rumiantes.com/wp-content/uploads/2022/09/Cambiar-la-dieta-de-las-vacas-reduce-las-emisiones-de-metano-y-nitrogenoFACEBOOK.png" alt="vaca">
                <p>
                    <ul>
                        <li>
                            <h3>Descubrimiento involuntario:</h3>
                            <a> El término "efecto invernadero" se origina en la similitud entre la forma en que funciona el fenómeno atmosférico y cómo un invernadero retiene el calor. Fue utilizado por primera vez por el científico sueco Svante Arrhenius en 1896.</a></li>
                        <li>
                            <h3>Gases involucrados:</h3>
                            <a> Los principales gases responsables del efecto invernadero son el dióxido de carbono (CO2), el metano (CH4) y el óxido nitroso (N2O). Estos gases permiten que la radiación solar entre en la atmósfera terrestre pero atrapan el calor emitido por la Tierra, creando un equilibrio térmico.</a></li>
                        <li>
                            <h3>Aporte humano:</h3>
                            <a> La actividad humana, como la quema de combustibles fósiles (carbón, petróleo y gas) y la deforestación, ha aumentado significativamente la concentración de gases de efecto invernadero en la atmósfera, intensificando el efecto invernadero natural y contribuyendo al calentamiento global.</a></li>
                        <li>
                            <h3>Historia geológica:</h3>
                            <a> A lo largo de la historia geológica de la Tierra, ha habido períodos de calentamiento y enfriamiento. Sin embargo, la velocidad actual del cambio climático y el aumento de la temperatura son inusualmente rápidos en comparación con los eventos pasados.</a></li>
                        <li>
                            <h3>Efectos en los océanos:</h3>
                            <a> El calentamiento global también afecta a los océanos. El aumento de la temperatura del agua puede provocar el blanqueamiento de los corales y afectar a los ecosistemas marinos, así como alterar los patrones de circulación oceánica.</a></li>
                        <li>
                            <h3>Retroalimentación positiva:</h3>
                            <a> El deshielo de los casquetes polares y los glaciares reduce la capacidad de reflexión del hielo, lo que resulta en una mayor absorción de calor por parte de la Tierra, lo que a su vez acelera el derretimiento y el aumento del nivel del mar.</a></li>
                        <li>
                            <h3>Impacto en la biodiversidad:</h3>
                            <a> El cambio climático causado por el efecto invernadero puede tener efectos perjudiciales en la biodiversidad. Muchas especies pueden tener dificultades para adaptarse a los rápidos cambios en las condiciones climáticas.</a></li>
                        <li>
                            <h3>Medidas de mitigación:</h3>
                            <a> Para abordar el efecto invernadero y el cambio climático, se están implementando medidas de mitigación como la transición a fuentes de energía renovable, la reforestación, la mejora de la eficiencia energética y la promoción de prácticas sostenibles en la agricultura y la industria.</a></li>
                        <li>
                            <h3>Acuerdos internacionales:</h3>
                            <a> El Acuerdo de París es un tratado internacional adoptado en 2015 por la comunidad global con el objetivo de limitar el calentamiento global por debajo de 2 grados Celsius y perseguir esfuerzos para limitarlo a 1.5 grados Celsius.</a></li>
                        <li>
                            <h3>Impacto en la economía:</h3>
                            <a> El efecto invernadero y el cambio climático también tienen implicaciones económicas, ya que los eventos climáticos extremos pueden afectar la producción agrícola, la infraestructura y los sistemas de seguro, entre otros aspectos.</a></li>
                        <li>
                            <h3>Vacas:</h3>
                            <a> Una vaca expulsa unos 200 gramos de Metano al día y eso equivale a 5 kilogramos en unidades de CO2. Esto supone que, según datos de la FAO, cada año todas las vacas del planeta liberan a la atmósfera 100 millones de toneladas de Metano que tienen el mismo efecto que 2.500 millones de toneladas de CO2.</a></li>
                    </ul>
                </p>
            </section>
            <section id="soluciones">
                <h2>Soluciones</h2>
                <p>Para abordar el problema del efecto invernadero se tiene que hacer:</p>
                <p>
                    <ul>
                        <li><a>Usar energías renovables siempre que sea posible.</a></li>
                        <li><a>Usar el transporte público y otros medios no contaminantes.</a></li>
                        <li><a>Fomentar la concienciación ecológica.</a></li>
                        <li><a>Reciclar y apostar por la economía circular.</a></li>
                        <li><a>Reducir el consumo de carne.</a></li>
                        <li><a>Consumir productos ecológicos.</a></li>
                    </ul>
                </p>
            </section>
        </main>
        <footer>
            <p>Esta página es una introducción al efecto invernadero. Para obtener más información, consulta la página completa en <a href="https://es.wikipedia.org/wiki/Efecto_invernadero">Wikipedia</a>.</p>
        </footer>
    </div>
</body>
</html>