<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Efecto Invernadero</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Efecto Invernadero</h1>
        </header>
        <nav>
            <ul>
                <li><a href="#introduccion">Introduccion</a></li>
                <li><a href="#causas">Causas</a></li>
                <li><a href="#soluciones">Soluciones</a></li>
            </ul>
        </nav>
        <img src="https://statics.eleconomista.com.ar/2021/10/6172ce888ab6c.jpg" alt="catastrofe">
        <!-- 
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡔⣻⠁⠀⢀⣀⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⢀⣾⠳⢶⣦⠤⣀⠀⠀⠀⠀⠀⠀⠀⣾⢀⡇⡴⠋⣀⠴⣊⣩⣤⠶⠞⢹⣄⠀⠀⠀
⠀⠀⠀⠀⢸⠀⠀⢠⠈⠙⠢⣙⠲⢤⠤⠤⠀⠒⠳⡄⣿⢀⠾⠓⢋⠅⠛⠉⠉⠝⠀⠼⠀⠀⠀
⠀⠀⠀⠀⢸⠀⢰⡀⠁⠀⠀⠈⠑⠦⡀⠀⠀⠀⠀⠈⠺⢿⣂⠀⠉⠐⠲⡤⣄⢉⠝⢸⠀⠀⠀
⠀⠀⠀⠀⢸⠀⢀⡹⠆⠀⠀⠀⠀⡠⠃⠀⠀⠀⠀⠀⠀⠀⠉⠙⠲⣄⠀⠀⠙⣷⡄⢸⠀⠀⠀
⠀⠀⠀⠀⢸⡀⠙⠂⢠⠀⠀⡠⠊⠀⠀⠀⠀⢠⠀⠀⠀⠀⠘⠄⠀⠀⠑⢦⣔⠀⢡⡸⠀⠀⠀
⠀⠀⠀⠀⢀⣧⠀⢀⡧⣴⠯⡀⠀⠀⠀⠀⠀⡎⠀⠀⠀⠀⠀⢸⡠⠔⠈⠁⠙⡗⡤⣷⡀⠀⠀
⠀⠀⠀⠀⡜⠈⠚⠁⣬⠓⠒⢼⠅⠀⠀⠀⣠⡇⠀⠀⠀⠀⠀⠀⣧⠀⠀⠀⡀⢹⠀⠸⡄⠀⠀
⠀⠀⠀⡸⠀⠀⠀⠘⢸⢀⠐⢃⠀⠀⠀⡰⠋⡇⠀⠀⠀⢠⠀⠀⡿⣆⠀⠀⣧⡈⡇⠆⢻⠀⠀
⠀⠀⢰⠃⠀⠀⢀⡇⠼⠉⠀⢸⡤⠤⣶⡖⠒⠺⢄⡀⢀⠎⡆⣸⣥⠬⠧⢴⣿⠉⠁⠸⡀⣇⠀
⠀⠀⠇⠀⠀⠀⢸⠀⠀⠀⣰⠋⠀⢸⣿⣿⠀⠀⠀⠙⢧⡴⢹⣿⣿⠀⠀⠀⠈⣆⠀⠀⢧⢹⡄
⠀⣸⠀⢠⠀⠀⢸⡀⠀⠀⢻⡀⠀⢸⣿⣿⠀⠀⠀⠀⡼⣇⢸⣿⣿⠀⠀⠀⢀⠏⠀⠀⢸⠀⠇
⠀⠓⠈⢃⠀⠀⠀⡇⠀⠀⠀⣗⠦⣀⣿⡇⠀⣀⠤⠊⠀⠈⠺⢿⣃⣀⠤⠔⢸⠀⠀⠀⣼⠑⢼
⠀⠀⠀⢸⡀⣀⣾⣷⡀⠀⢸⣯⣦⡀⠀⠀⠀⢇⣀⣀⠐⠦⣀⠘⠀⠀⢀⣰⣿⣄⠀⠀⡟⠀⠀
⠀⠀⠀⠀⠛⠁⣿⣿⣧⠀⣿⣿⣿⣿⣦⣀⠀⠀⠀⠀⠀⠀⠀⣀⣠⣴⣿⣿⡿⠈⠢⣼⡇⠀⠀
⠀⠀⠀⠀⠀⠀⠈⠁⠈⠻⠈⢻⡿⠉⣿⠿⠛⡇⠒⠒⢲⠺⢿⣿⣿⠉⠻⡿⠁⠀⠀⠈⠁⠀⠀
⢀⠤⠒⠦⡀⠀⠀⠀⠀⠀⠀⠀⢀⠞⠉⠆⠀⠀⠉⠉⠉⠀⠀⡝⣍⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⡎⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⡰⠋⠀⠀⢸⠀⠀⠀⠀⠀⠀⠀⢡⠈⢦⠀⠀⠀⠀⠀⠀⠀⠀⠀
⡇⠀⠀⠸⠁⠀⠀⠀⠀⢀⠜⠁⠀⠀⠀⡸⠀⠀⠀⠀⠀⠀⠀⠘⡄⠈⢳⡀⠀⠀⠀⠀⠀⠀⠀
⡇⠀⠀⢠⠀⠀⠀⠀⠠⣯⣀⠀⠀⠀⡰⡇⠀⠀⠀⠀⠀⠀⠀⠀⢣⠀⢀⡦⠤⢄⡀⠀⠀⠀⠀
⢱⡀⠀⠈⠳⢤⣠⠖⠋⠛⠛⢷⣄⢠⣷⠁⠀⠀⠀⠀⠀⠀⠀⠀⠘⡾⢳⠃⠀⠀⠘⢇⠀⠀⠀
⠀⠙⢦⡀⠀⢠⠁⠀⠀⠀⠀⠀⠙⣿⣏⣀⠀⠀⠀⠀⠀⠀⠀⣀⣴⣧⡃⠀⠀⠀⠀⣸⠀⠀⠀
⠀⠀⠀⠈⠉⢺⣄⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣗⣤⣀⣠⡾⠃⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠣⢅⡤⣀⣀⣠⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⠉⠉⠉⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠉⠉⠉⠁⠀⠉⣿⣿⣿⣿⣿⡿⠻⣿⣿⣿⣿⠛⠉⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⣿⣿⣿⠀⠀⠀⠀⣿⣿⣿⡿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣴⣿⣿⣿⣟⠀⠀⢠⣿⣿⣿⣿⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣿⣿⣿⣿⣿⠀⠀⢸⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣿⣿⡏⠀⠀⢸⣿⣿⣿⣿⣿⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⣿⣿⣿⣿⠀⠀⠀⢺⣿⣿⣿⣿⣿⣿⣷⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠈⠉⠻⣿⣿⣿⠟⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⢿⣿⣿⣿⠏ hecho por remier
        --> 
        <main>
            <section id="introduccion">
                <h2>¿Que es el efecto invernadero?</h2>
                <p>  La radiación solar llega a la superficie terrestre y algunos gases que se en- cuentran naturalmente en la atmósfera, como el dióxido de carbono, el metano, el óxido nitroso y el ozono, retienen parte de esa energía y no permiten que se vaya de la troposfera. Crean así en esta capa de la atmósfera como un invernáculo natural que permite que tengamos en la superficie una temperatura adecuada para habitarla. A este proceso se lo conoce como efecto invernadero natural.</p>
                <p>  Es por eso que se llama efecto "invernadero" ya que actua como un invernadero(casa de cristal) que protejen a las plantas del frio o calor con una temperatura adecuadad para ellas</p>
                <h2>¿por que ahora es malo?</h2>
                <p>En la actualidad esto ya no ocurre debido al desequilibrio originado por las acciones humanas como la actividad intensiva de la industria, el transporte y el desarrollo de una amplia gama de fuentes contaminantes, cuyas emisiones aumentaron la cantidad de gases de efecto invernadero en la atmósfera. Estos gases contribuyen a que la energía solar quede atrapada entre la superficie del planeta y las capas de la atmósfera, lo que produce un aumento de la temperatura cada vez mayor, provocando lo que se denomina calentamiento global.</p>
            </section>
            <section id="causas">
                <h2>Causas y consecuencias</h2>
                <p>Las principales causas del efecto invernadero son:</p>
                <img src="https://elordenmundial.com/wp-content/uploads/2019/06/Mundo-Pol%C3%ADtica-Desarrollo-Medio-Ambiente-Emisiones-de-CO2-per-c%C3%A1pita-1310x928.png" alt="paises">
                <img src="/images/WhatsApp Image 2023-08-13 at 11.23.54 PM.jpeg" alt="esquema">
            </section>
            <section>
                <iframe src="https://www.youtube.com/embed/D7azpbtGA4Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </section>
            <div class="slider-container">  
                <img
                  class="slider-item"
                  src="https://climate.selectra.com/sites/climate.selectra.com/files/styles/_default/public/autres/efecto-invernadero-750.png?itok=uvfb5uQ4"
                />
                <img
                  class="slider-item"
                  src="https://assets.isu.pub/document-structure/230123220150-c8a37a700e8f95ff48bffaba848f4859/v1/7a75ab9b3e940bf8698b118d184c679c.jpeg"
                />
                <img
                  class="slider-item"
                  src="https://fotos.perfil.com/2022/04/05/0504cambio-climatico-1337254.jpga"
                />
            </div> 
            <section>
                <h2>IMPACTO DEL CAMBIO CLIMÁTICO EN EL MUNDO</h2>
                <p>
                    El efecto invernadero a nivel mundial es un fenómeno natural y esencial que mantiene la temperatura de la Tierra adecuada para la vida tal como la conocemos. Sin embargo, en las últimas décadas, el aumento de las emisiones de gases de efecto invernadero (GEI) debido a la actividad humana ha desencadenado preocupaciones significativas sobre el cambio climático y sus impactos. Este informe se centrará en explicar el efecto invernadero, su papel en el calentamiento global, las causas y consecuencias, y las medidas de mitigación.
                </p>
                    <ul>
                        <p>Causas del Aumento de los GEI</p>
                        <p>El aumento de las concentraciones de GEI en la atmósfera se debe principalmente a la actividad humana. Las principales fuentes de emisiones de GEI incluyen:</p>
                        <li>
                            <a>Quema de Combustibles Fósiles: La quema de carbón, petróleo y gas natural para la energía y el transporte es una fuente importante de CO2.</a>
                        </li>
                        <li>
                            <a>Deforestación: La tala de árboles disminuye la capacidad de la vegetación para absorber CO2 de la atmósfera.</a>
                        </li>
                        <li>
                            <a>Agricultura: La producción de alimentos, especialmente la cría de ganado, libera metano y óxido nitroso, dos potentes GEI.</a>
                        </li>
                         <li>
                            <a>Industrialización: Las actividades industriales liberan varios GEI y contaminantes que contribuyen al efecto invernadero.
                               Consecuencias del Calentamiento Global
                            </a>
                         </li>
                        <p>
                            El aumento de las temperaturas debido al efecto invernadero tiene numerosas consecuencias a nivel mundial:
                        </p>
                        <li>
                            <a>
                                Cambio Climático: El calentamiento global causa cambios en los patrones climáticos, como sequías, inundaciones, y eventos climáticos extremos más frecuentes.
                            </a>
                        </li>
                        <li>
                            <a>Elevación del Nivel del Mar: El derretimiento de los glaciares y la expansión térmica de los océanos provocan la elevación del nivel del mar, lo que amenaza a las comunidades costeras.</a>
                        </li>            
                        <li>
                            <a>Impacto en la Biodiversidad: El cambio climático afecta a los ecosistemas y la biodiversidad, lo que puede llevar a la extinción de especies.</a>
                        </li>
                        <li>
                            <a>Desplazamiento de Población: Las condiciones climáticas extremas pueden desplazar a comunidades enteras debido a inundaciones, sequías y otros desastres relacionados con el clima.
                               Medidas de Mitigación
                            </a>
                        </li>
                        <p>
                            Para abordar el problema del efecto invernadero y el cambio climático, se requieren medidas de mitigación a nivel mundial:
                        </p>
                        <li>
                            <a>Transición a Energías Limpias: Reducir la dependencia de los combustibles fósiles y fomentar el uso de energías limpias, como la solar y la eólica.</a>
                        </li>
                        <li>
                            <a>Eficiencia Energética: Mejorar la eficiencia en el uso de la energía en edificios, transporte y procesos industriales.</a>
                        </li>
                        <li>
                            <a>Conservación de Bosques: Detener la deforestación y promover la reforestación y la gestión sostenible de los bosques.</a>
                        </li>
                        <li>
                            <a>Tecnologías de Captura de Carbono: Desarrollar tecnologías que capturen y almacenen el CO2 de las emisiones industriales.</a>
                        </li>
                        <li>
                            <a>Políticas Internacionales: Fomentar acuerdos y tratados internacionales para limitar las emisiones de GEI.</a>
                        </li>
                    
                    </ul>
                <p>                
                    En conclusión, el efecto invernadero a nivel mundial es un proceso natural vital para la vida en la Tierra, pero las actividades humanas han intensificado este efecto, causando el calentamiento global y sus graves consecuencias. La mitigación del cambio climático es esencial para preservar nuestro planeta y sus ecosistemas para las generaciones futuras.
                </p>
                <h2>CAMBIO CLIMÁTICO EN ARGENTINA</h2>
                <p>En Argentina, el efecto invernadero y el cambio climático también son temas de gran relevancia. A nivel nacional, se observan tendencias y preocupaciones específicas relacionadas con este fenómeno. A continuación, se detallarán algunos aspectos relacionados con el efecto invernadero en Argentina:
                    Emisiones de GEI en Argentina
                    Argentina emite una cantidad significativa de gases de efecto invernadero, principalmente debido a actividades relacionadas con la agricultura, la ganadería, la energía y el transporte. Algunas fuentes importantes de emisiones incluyen:
                </p>
                    <ul>
                        <li>
                            <a>Agricultura: La producción de cultivos y la cría de ganado generan emisiones de metano y óxido nitroso.</a>
                        </li>
                        <li>
                            <a>Uso de Combustibles Fósiles: El transporte y la generación de energía a menudo dependen de combustibles fósiles, lo que resulta en emisiones de dióxido de carbono.</a>
                        </li>
                        <li>
                            <a>Deforestación: La tala de bosques y la conversión de tierras forestales en tierras agrícolas contribuyen al aumento de las emisiones.
                               Impactos en Argentina
                            </a>
                        </li>
                <p>Argentina no es inmune a los impactos del cambio climático, y estos impactos pueden afectar diversas áreas:</p>
                    <ul>
                        <li>
                            <a>Agricultura: El cambio en los patrones de lluvia y las temperaturas puede afectar negativamente la producción agrícola, lo que es crítico para la economía del país.</a>
                        </li>
                        <li>
                            <a>Recursos Hídricos: Variaciones en las precipitaciones pueden afectar la disponibilidad de agua, lo que es fundamental para la producción de alimentos y la generación de energía.</a>
                        </li>
                        <li>
                            <a>Biodiversidad: El cambio climático puede poner en peligro la biodiversidad de Argentina, incluyendo especies en peligro de extinción.</a>
                        </li>
                        <li>
                            <a>
                                Salud Pública: Aumentos en las temperaturas pueden aumentar los riesgos para la salud, como las olas de calor y la propagación de enfermedades transmitidas por vectores.
                                Medidas de Mitigación y Adaptación
                            </a>
                        </li>
                    </ul>
                    <p>El gobierno argentino ha implementado medidas para abordar el cambio climático y reducir las emisiones de GEI. Estas incluyen:</p>
                    <ul>
                        <li>
                            <a>Energía Renovable: Fomentar la inversión en energía solar y eólica para reducir la dependencia de los combustibles fósiles.</a>
                        </li>
                        <li>
                            <a>Eficiencia Energética: Promover prácticas y tecnologías que reduzcan el consumo de energía en edificios e industrias.</a>
                        </li>
                        <li>
                            <a>Reforestación: Proyectos de reforestación y conservación de bosques para absorber CO2 de la atmósfera.</a>
                        </li>
                        <li>
                            <a>Transporte Sustentable: Fomentar el uso de vehículos eléctricos y el transporte público.</a>
                        </li>
                        <li>
                            <a>Adaptación: Desarrollar estrategias de adaptación para enfrentar los desafíos del cambio climático.</a>
                        </li>
                    </ul>
                    <p>En resumen, Argentina enfrenta desafíos relacionados con el efecto invernadero y el cambio climático, que afectan la economía, el medio ambiente y la sociedad. La implementación de medidas de mitigación y adaptación es fundamental para abordar estos desafíos y trabajar hacia un futuro más sostenible y resiliente al cambio climático en el país.</p>
                <p>A partir de esta información, a continuación, se describe brevemente los cambios
                    más relevantes observados en las variables climáticas en la Argentina en el período
                    1960-2010, así como las proyecciones de cambio climático.
                </p>
                <p>Se resumen los principales impactos y riesgos derivados del cambio climático en
                    nuestro país, en función de nuestras diferentes regiones.
                </p>
                <p> 
                    <ul>
                        <li>
                            <h3>En la Patagonia:</h3>
                            <a>los efectos del calentamiento global se observan en el aumento de la aridez, la desertificación, la degradación del suelo y los riesgos de incendios.</a>
                        </li>
                        <li>
                            <h3>En el Noroeste:</h3>
                            <a>el modelo actual de producción contribuye al aumento de temperaturas, escasez de agua y sequías más intensas que afectan a los ecosistemas y a las comunidades.</a>
                        </li>
                        <li>
                            <h3>En el Cuyo:</h3>
                            <a>las intensas sequías y las olas de calor extremas, producto del cambio climático, afectan los sistemas productivos, la generación de energía hidroeléctrica y la disponibilidad de agua que depende de los deshielos.</a>
                        </li>
                        <li>
                            <h3>En el Litoral:</h3>
                            <a>el mal uso del suelo afecta a los humedales de manera drástica y profundiza inundaciones y sequías.</a>
                        </li>
                        <li>
                            <h3>En el Centro:</h3>
                            <a> es una de las zonas más afectadas por el aumento de las precipitaciones debido al calentamiento global, Sufre sequías más prolongadas, inundaciones más frecuentes y olas de calor extremas.</a>
                        </li>
                    </ul>
                </p>
                <p> Los impactos que hoy sufre el planeta obligan a tomar medidas inmediatas. Los
                    científicos dejan claro que será necesario un gran cambio institucional y tecnológico
                    para que el calentamiento global no supere los 2 ºC promedio sobre la superficie del
                    planeta y para que exista una mayor probabilidad de evitar la ocurrencia de daños
                    catastróficos e irreversibles.
                </p>
                <h2>IMPACTO DEL CAMBIO CLIMÁTICO EN JUJUY</h2>
                <p>En la provincia de Jujuy, Argentina, el efecto invernadero y el cambio climático también son temas de preocupación y relevancia, con algunas características y desafíos específicos. A continuación, se destacarán algunos aspectos relacionados con el efecto invernadero en la provincia de Jujuy
                    Emisiones de GEI en Jujuy
                    Si bien la contribución de Jujuy a las emisiones nacionales de gases de efecto invernadero es relativamente baja en comparación con otras provincias más industrializadas, existen fuentes significativas de emisiones:
                </p>
                <ul>
                    <li>
                        <a>Agricultura y Ganadería: Jujuy tiene una base agrícola importante, y las actividades agrícolas y ganaderas pueden generar emisiones de metano y óxido nitroso.</a>
                    </li>
                    <li>
                        <a>Uso de Energía: La generación de energía y el uso de combustibles fósiles para el transporte también contribuyen a las emisiones de GEI en la provincia.</a>
                    </li>
                    <li>
                        <a>
                            Cambio en el Uso de la Tierra: La expansión de la agricultura y otros cambios en el uso de la tierra pueden afectar la cantidad de CO2 almacenado en la vegetación y el suelo.
                        </a>
                    </li>
                </ul>    
                    <p>Impactos en Jujuy</p>
                    <p>Los impactos del cambio climático pueden afectar a Jujuy de diversas maneras:</p>
                <ul>
                    <li>
                        <a>Recursos Hídricos: Las variaciones en las precipitaciones y la disponibilidad de agua pueden influir en la agricultura y la producción de energía hidroeléctrica.</a>
                    </li>
                    <li>
                        <a>Agricultura y Biodiversidad: Cambios en los patrones climáticos pueden afectar los cultivos y la biodiversidad de la región.</a>
                    </li>
                    <li>
                        <a>Turismo: Jujuy es conocida por su belleza natural y cultural, pero el cambio climático puede tener impactos en la industria turística.</a>
                    </li>
                    <li>
                        <a>Pueblos Indígenas: Las comunidades indígenas en la provincia pueden ser particularmente vulnerables a los cambios en el clima y los recursos naturales.</a>
                    </li>
                </ul>
                <p>
                    Medidas de Mitigación y Adaptación
                    La provincia de Jujuy ha tomado medidas para abordar el cambio climático y reducir las emisiones de GEI, así como para adaptarse a los impactos previstos:
                </p>
                <ul>
                    <li>
                        <a>Energía Renovable: Jujuy es conocida por su inversión en energía solar y eólica, con proyectos que contribuyen a la generación de energía limpia.</a>
                    </li>
                    <li>
                        <a>Conservación de la Biodiversidad: Se han establecido áreas protegidas para preservar la diversidad biológica y adaptarse al cambio climático.</a>
                    </li>
                    <li>
                        <a>Desarrollo Sostenible: Se fomenta el desarrollo sostenible, que incluye prácticas agrícolas más amigables con el clima y la conservación de recursos naturales.</a>
                    </li>
                    <li>
                        <a>Planificación Urbana: La planificación urbana sostenible puede ayudar a reducir la vulnerabilidad de las ciudades a eventos climáticos extremos.</a>
                    </li>
                </ul>
                <p>En resumen, Jujuy enfrenta desafíos y oportunidades específicos relacionados con el efecto invernadero y el cambio climático. La inversión en energías renovables, la conservación de la biodiversidad y la planificación sostenible son elementos clave para abordar estos desafíos y construir un futuro más resiliente y sostenible en la provincia.</p>
                <p>
                    <ul>
                        <li>
                            <h3>Temperatura media:</h3>
                            <p>el aumento alcanzó los 0,7° en la provincia de Jujuy.</p>
                        </li>
                        <li>
                            <h3>Temperatura mínima:</h3>
                            <p>aumento promedio de 0,6°C.</p>
                        </li>
                        <li>
                            <h3>Temperatura máxima:</h3>
                            <p>aumentó 0,7°C.</p>
                        </li>
                        <li>
                            <p>1950-2010 mayores incrementos registrados en primavera/ otoño.</p>
                        </li>
                    </ul>
                </p>
                <h2>Datos curiosos</h2>
                <img src="https://rumiantes.com/wp-content/uploads/2022/09/Cambiar-la-dieta-de-las-vacas-reduce-las-emisiones-de-metano-y-nitrogenoFACEBOOK.png" alt="vaca">
                <p>
                    <ul>
                        <li>
                            <h3>Descubrimiento involuntario:</h3>
                            <a> El término "efecto invernadero" se origina en la similitud entre la forma en que funciona el fenómeno atmosférico y cómo un invernadero retiene el calor. Fue utilizado por primera vez por el científico sueco Svante Arrhenius en 1896.</a></li>
                        <li>
                            <h3>Gases involucrados:</h3>
                            <a> Los principales gases responsables del efecto invernadero son el dióxido de carbono (CO2), el metano (CH4) y el óxido nitroso (N2O). Estos gases permiten que la radiación solar entre en la atmósfera terrestre pero atrapan el calor emitido por la Tierra, creando un equilibrio térmico.</a></li>
                        <li>
                            <h3>Aporte humano:</h3>
                            <a> La actividad humana, como la quema de combustibles fósiles (carbón, petróleo y gas) y la deforestación, ha aumentado significativamente la concentración de gases de efecto invernadero en la atmósfera, intensificando el efecto invernadero natural y contribuyendo al calentamiento global.</a></li>
                        <li>
                            <h3>Historia geológica:</h3>
                            <a> A lo largo de la historia geológica de la Tierra, ha habido períodos de calentamiento y enfriamiento. Sin embargo, la velocidad actual del cambio climático y el aumento de la temperatura son inusualmente rápidos en comparación con los eventos pasados.</a></li>
                        <li>
                            <h3>Efectos en los océanos:</h3>
                            <a> El calentamiento global también afecta a los océanos. El aumento de la temperatura del agua puede provocar el blanqueamiento de los corales y afectar a los ecosistemas marinos, así como alterar los patrones de circulación oceánica.</a></li>
                        <li>
                            <h3>Retroalimentación positiva:</h3>
                            <a> El deshielo de los casquetes polares y los glaciares reduce la capacidad de reflexión del hielo, lo que resulta en una mayor absorción de calor por parte de la Tierra, lo que a su vez acelera el derretimiento y el aumento del nivel del mar.</a></li>
                        <li>
                            <h3>Impacto en la biodiversidad:</h3>
                            <a> El cambio climático causado por el efecto invernadero puede tener efectos perjudiciales en la biodiversidad. Muchas especies pueden tener dificultades para adaptarse a los rápidos cambios en las condiciones climáticas.</a></li>
                        <li>
                            <h3>Medidas de mitigación:</h3>
                            <a> Para abordar el efecto invernadero y el cambio climático, se están implementando medidas de mitigación como la transición a fuentes de energía renovable, la reforestación, la mejora de la eficiencia energética y la promoción de prácticas sostenibles en la agricultura y la industria.</a></li>
                        <li>
                            <h3>Acuerdos internacionales:</h3>
                            <a> El Acuerdo de París es un tratado internacional adoptado en 2015 por la comunidad global con el objetivo de limitar el calentamiento global por debajo de 2 grados Celsius y perseguir esfuerzos para limitarlo a 1.5 grados Celsius.</a></li>
                        <li>
                            <h3>Impacto en la economía:</h3>
                            <a> El efecto invernadero y el cambio climático también tienen implicaciones económicas, ya que los eventos climáticos extremos pueden afectar la producción agrícola, la infraestructura y los sistemas de seguro, entre otros aspectos.</a></li>
                        <li>
                            <h3>Vacas:</h3>
                            <a> Una vaca expulsa unos 200 gramos de Metano al día y eso equivale a 5 kilogramos en unidades de CO2. Esto supone que, según datos de la FAO, cada año todas las vacas del planeta liberan a la atmósfera 100 millones de toneladas de Metano que tienen el mismo efecto que 2.500 millones de toneladas de CO2.</a></li>
                    </ul>
                </p>
            </section>
            <section id="soluciones">
                <h2>Soluciones</h2>
                <p>Para abordar el problema del efecto invernadero se tiene que hacer:</p>
                <p>
                    <ul>
                        <li><a>Usar energías renovables siempre que sea posible.</a></li>
                        <li><a>Usar el transporte público y otros medios no contaminantes.</a></li>
                        <li><a>Fomentar la concienciación ecológica.</a></li>
                        <li><a>Reciclar y apostar por la economía circular.</a></li>
                        <li><a>Reducir el consumo de carne.</a></li>
                        <li><a>Consumir productos ecológicos.</a></li>
                    </ul>
                </p>
            </section>
        </main>
        <footer>
            <p>Esta página es una introducción al efecto invernadero. Para obtener más información, consulta la página completa en <a href="https://es.wikipedia.org/wiki/Efecto_invernadero">Wikipedia</a>.</p>
        </footer>
    </div>
</body>
</html>